<h1>مرحبا بكم في abme</h1>

<h2>
<% 7.times do |q| %>
<%= "gg #{q}" %>
</br>

<% end %>
</h2>

<h3 style="color: green">
<% for a in @frut do %>
	<%= "ilove #{a}" %>
	</br>
<% end %>
</h3>




<%= @vp %>

<a href="indx">baak</a>